<!DOCTYPE html>
<html>
<head>
	<title>App Demo</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<meta name="ct" content="<%= ct %>">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<header class="_demo--heading">
		<div class="_demo--container">
			<a class="wordmark" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/">
				<span class="wordmark--left">Imperial College</span>
				<span class="wordmark--right">Watson App</span>
			</a>
			<nav class="heading-nav" role="menubar">
				<li class="base--li heading-nav--li" role="presentation">
					<a class="heading-nav--item" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/services-catalog.html" role="menuitem">
						Services
					</a>
				</li>
				<li class="base--li heading-nav--li" role="presentation">
					<a class="heading-nav--item" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/" role="menuitem">
						Docs
					</a>
				</li>
				<li class="base--li heading-nav--li" role="presentation">
					<a class="heading-nav--item" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/gallery.html" role="menuitem">
						App Gallery
					</a>
				</li>
				<li class="base--li heading-nav--li" role="presentation">
					<a class="heading-nav--item" href="https://developer.ibm.com/watson/" role="menuitem">
						Community
					</a>
				</li>
			</nav>
		</div>
	</header>

	<div class="_demo--banner">
		<div class="_demo--container">
			<div class="banner--service-icon-container">
				<img class="banner--service-icon" src="images/document-conversion.svg" alt="Document Conversion API Icon">
			</div>
			<div class="banner--service-info">
				<h1 class="banner--service-title base--h1">
					<img class="banner--service-icon_INLINE" src="images/document-conversion.svg" alt="Document Conversion API Icon">
					Yeast gene network discovery
				</h1>
				<div class="banner--service-description">
					This application will answer your question about yeast genes network. 
				</div>
				<h2 id="upload-your-document" class="base--h2">Choose your question type:</h2>
				<div id="outer">
  					<div class="inner"><button type="submit" class="msgBtn" onclick="location.href='http://146.169.46.202:8080/random';" >Random questions</button></div>
  					<div class="inner"><button type="submit" class="msgBtn2" onclick="location.href='http://146.169.46.202:8080/user';">Make your own question</button></div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/vendors/jquery.min.js"></script>
	<script type="text/javascript" src="js/vendors/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="js/vendors/jquery.fileupload.js"></script>
	<script type="text/javascript" src="js/vendors/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="js/pages/index.js"></script>
	<script type="text/javascript" src="js/ga.js"></script>
</body>
</html>
