<!DOCTYPE html>
<html>
<head>
	<title>Random questions</title>
	<meta outputarset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
	<meta name="ct" content="<%= ct %>">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<header class="_demo--heading">
		<div class="_demo--container">
			<a class="wordmark" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/">
				<span class="wordmark--left">Imperial College</span>
				<span class="wordmark--right">Watson App</span>
			</a>
			<nav class="heading-nav" role="menubar">
				<li class="base--li heading-nav--li" role="presentation">
					<a class="heading-nav--item" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/services-catalog.html" role="menuitem">
						Services
					</a>
				</li>
				<li class="base--li heading-nav--li" role="presentation">
					<a class="heading-nav--item" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/" role="menuitem">
						Docs
					</a>
				</li>
				<li class="base--li heading-nav--li" role="presentation">
					<a class="heading-nav--item" href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/gallery.html" role="menuitem">
						App Gallery
					</a>
				</li>
				<li class="base--li heading-nav--li" role="presentation">
					<a class="heading-nav--item" href="https://developer.ibm.com/watson/" role="menuitem">
						Community
					</a>
				</li>
			</nav>
		</div>
	</header>
	<a name="top"></a>
	<div class="_demo--banner">
		<div class="_demo--container">
			<div class="banner--service-icon-container">
				<img class="banner--service-icon" src="images/document-conversion.svg" alt="Document Conversion API Icon">
			</div>
			<div class="banner--service-info">
				<h1 class="banner--service-title base--h1">
					<img class="banner--service-icon_INLINE" src="images/document-conversion.svg" alt="Document Conversion API Icon">
					Yeast gene network discovery
				</h1>
				<div class="banner--service-description">
					This application will answer your question about yeast genes network. 
				</div>
			<!-- <div class="banner--service-resource">
				<span class="icon icon-link"></span>
				<strong>Resources:</strong>
			</div>
			<div class="banner--service-links">
				<li class="base--li banner--service-link-item">
					<a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/document-conversion/api/v1/" class="base--a" target="_blank">API Overview</a>
				</li>
				<li class="base--li banner--service-link-item">
					<a href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/document-conversion/" class="base--a" target="_blank">Documentation</a>
				</li>
				<li class="base--li banner--service-link-item" target="_blank">
					<a href="https://github.com/watson-developer-cloud/document-conversion-nodejs" class="base--a" target="_blank">Fork on Github</a>
				</li>
			</div> -->
			</div>
		</div>
	</div>

	<div class="_demo--container">
		<article class="_content base--article">
			<div class="_content--output">

				<p class="base--p description--answer-unit">
					The Answer units can be run through a utility to create a Solr collection needed to train the Retrieve and Rank service.
				</p>
				<div class="tab-panels" role="tabpanel">
					<ul class="tab-panels--tab-list" role="tablist">
						<li class="tab-panels--tab-list-item base--li" role="presentation">
							<a class="tab-panels--tab base--a active" href="#display_input_doc" aria-controls="display_input_doc" role="tab">Your question:</a>
						</li>
						<a title="Download input file" href="" class="download--input-icon icon icon-download download--icon"></a>
					</ul>
					<div class="tab-panels--tab-content">
						<div id="display_input_doc"></div>
					</div>
				</div>

				<div class="tab-panels" role="tabpanel">
					<ul class="tab-panels--tab-list" role="tablist">
						<li class="tab-panels--tab-list-item base--li" role="presentation">
							<a class="tab-panels--tab base--a active" href="#display_output_doc" aria-controls="display_output_doc" role="tab">Answers:</a>
						</li>
						<a title="Download output file" href="" class="download--output-icon icon icon-download download--icon"></a>
					</ul>
					<div class="tab-panels--tab-content">
						<div id="display_output_doc" class="tab-panels--tab-pane active" role="tab-panel">
							<table id="answers"></table>
							<button class="newQuestionButton">Get new question</button>
							<button class="endSessionButton" onclick="location.href='http://146.169.46.202:8080/endsession';">End session</button>
						</div>

					</div>
				</div>
				<svg width="960" height="600"></svg>
			</div>

			<span class="icon-hyperlink">
				<span class="icon icon-back2top"></span>
				<a href="#top" class="base--a">
					Back to top
				</a>
			</span>

		</article>
	</div>
	<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="js/components/visual.js"></script>
	<script type="text/javascript" src="js/vendors/jquery.min.js"></script>
	<script type="text/javascript" src="js/vendors/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="js/vendors/jquery.fileupload.js"></script>
	<script type="text/javascript" src="js/vendors/jquery.iframe-transport.js"></script>
	<script type="text/javascript" src="js/pages/random_questions.js"></script>
	<script type="text/javascript" src="js/ga.js"></script>
</body>
</html>
